<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SelectorUrl" value="http://eip.mpdev.com:4000/Selector-v2/"/>
    <add key="CAUrl" value="http://eip.mpdev.com/CA/"/>
    <add key="RightManageUrl" value="http://eip.mpdev.com/RightManage/"/>
    <add key="RightApplicationId" value="xxxxx" />
  </appSettings>
  <connectionStrings>
    <add name="QuanxianConn" connectionString="Data Source=10.0.3.6;Initial Catalog=quanxian;User ID=sa;Password=123.com" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <!--设置运行时框架为4.0，否则会报machineKey过长的错误。设置上传文件大小限制（单位KB），这里设置为1GB-->
    <httpRuntime targetFramework="4.0" maxRequestLength="1048576" executionTimeout="3600" />
    <machineKey validationKey="0FA0557EE72D5E7ADD89A4B4FD40E3E232D17EFE06874FA8DD358D5484B8A4C5E1D3629B79FFD3D6D53184495CAED1164BCC1F19B47B89B7CA35875B4A687FAE" decryptionKey="A4EED94822A8731F" validation="SHA1" />
    <authentication mode="Forms">
      <forms name=".maiputicket" domain="" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogError" />
    </root>
    <appender name="LogError" type="log4net.Appender.RollingFileAppender">
      <file value="logs/error_" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <system.webServer>
    <!--请求内容最大长度设置（单位B） 需要比httpRuntime@maxRequestLength 大-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1084227584"></requestLimits>
      </requestFiltering>
    </security>
    <!-- 静态资源缓存时间，设置为一年 -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="8760:00:00" />
    </staticContent>
    <!-- httpProtocal为在开发阶段允许跨域设置的配置节，发布时会在Web.Release.config中移除 -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:59102" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, X-Requested-With, If-Modified-Since" />
        <add name="Access-Control-Allow-Methods" value="*" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
