<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueWebTemplate</title>
	<script>
		var OP_CONFIG = {
			rootUrl: '<%= htmlWebpackPlugin.options.rootUrl %>',
			apiUrl: '<%= htmlWebpackPlugin.options.apiUrl %>',
			selectorUrl: '<%= htmlWebpackPlugin.options.selectorUrl %>',
			caUrl: '<%= htmlWebpackPlugin.options.caUrl %>',
			rightManageUrl: '<%= htmlWebpackPlugin.options.rightManageUrl %>',
			rightApplicationId: '<%= htmlWebpackPlugin.options.rightApplicationId %>'
		};
	</script>
</head>
<body>
	<!--[if lt IE 10]>
		<div style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 9999;background-color: #fff; padding: 15px; font-size: 14px;">
			<p>您的IE浏览器太旧啦，请升级到 IE10 及以上或使用 <a href="ftp://10.0.0.16/09%CD%F8%C2%E7%C8%ED%BC%FE/%CD%F8%D2%B3%E4%AF%C0%C0/%B9%C8%B8%E8%E4%AF%C0%C0%C6%F7/chrome_40.0.2214.115.exe">Chrome</a> 浏览器浏览本网页。</p>
		</div>
	<![endif]-->
	<div id="app"></div>
</body>
</html>